.flex-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
    width: 100%;
}

.flex-item-1 {
    max-width: 50%;
}
.flex-item-2 {
    max-width: 50%;
}
.reveal li {
	font-size: .85em;
	padding-bottom:1em;}

.reveal h4 {padding-bottom: 1em}
.reveal section img {border: none; box-shadow: none;}
.reveal h4, span, i {color: #006699}
.reveal a {color: lightcoral;}
.reveal a:hover {color:brown;}